<h1>Poems</h1>
<% @poems.each do |poem| %>
<section class='poem'>
  <section class='title'>
    Title: <%= poem.title %>
  </section>

  <section class='author'>
    Author: <%= poem.author %>
  </section>

  <section class='tone'>
    Tone: <%= poem.tone %>
  </section><br>

  <section class='lines'>
    <%= poem.lines %>
  </section><br>
</section>
<% end %>
